.lifestyle-header {
  width: 100%;
  max-width: 1000px;
  padding: 0;
  padding-bottom: 50px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 400px 1fr 400px;
  align-items: flex-start;
  justify-content: center;
  column-gap: 50px;
}

.lifestyle-header__left-panel,
.lifestyle-header__right-panel,
.lifestyle-header__center {
  background-color: #333333;
  box-sizing: border-box;
}

.lifestyle-header__left-panel,
.lifestyle-header__right-panel {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  height: 108px;
}

.lifestyle-header__left-panel {
  justify-content: center;
  font-size: 25px;
  text-align: center;
}

.lifestyle-header__right-panel {
  justify-content: center;
  font-size: 35px;
}

.lifestyle-header__center {
  width: 100%;
  max-width: 680px;
  justify-self: center;
  padding: 16px 24px;
  text-align: center;
}

.lifestyle-header__left-text,
.lifestyle-header__right-text,
.lifestyle-header__title {
  margin: 0;
  color: #b3b3b3;
}

.lifestyle-header__title {
  color: #c9a43e;
  font-size: 95px;
}

.lifestyle-header__title-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.lifestyle-header__title-link:visited {
  color: inherit;
}

.lifestyle-header__title-link:hover,
.lifestyle-header__title-link:active {
  text-decoration: none;
}
