.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__content {
  width: 100%;
  margin: 50px auto 0 auto;
  justify-items: center;
}

.app__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 0 0 0;
}

.app__page-title {
  margin: 0 0 12px 0;
  font-size: 24px;
}

.app__placeholder-text {
  margin: 0;
  font-size: 16px;
}

.app__footer {
  width: 100%;
  margin-top: 50px;
  padding: 16px 0px;
  box-sizing: border-box;
  border-top: 1px solid #333333;
}

.app__footer-text {
  margin: 0;
  font-size: 14px;
}
