.header {
  width: 100%;
  max-width: 1280px;
  padding: 0;
  padding-bottom: 50px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 400px 1fr 400px;
  align-items: flex-start;
  justify-content: center;
  column-gap: 50px;
}

.header__left-panel,
.header__right-panel,
.header__center {
  background-color: #333333;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #999999;
}

.header__left-panel,
.header__right-panel {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  min-height: 108px;
}

.header__left-panel {
  justify-content: center;
  font-size: 50px;
}

.header__right-panel {
  justify-content: center;
  font-size: 35px;
}

.header__center {
  width: 100%;
  max-width: 680px;
  justify-self: center;
  padding: 16px 24px;
  text-align: center;
}

.header__left-text,
.header__right-text,
.header__title,
.header__slogan,
.header__tagline {
  margin: 0;
  color: #b3b3b3;
}

.header__right-text {
  color: #b3b3b3;
  text-decoration: none;
  cursor: pointer;
}

.header__right-text:hover {
  color: #ffffff;
}

.header__title {
  color: #800000;
  font-size: 125px;
  line-height: 1;
}

.header__title-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.header__title-link:visited {
  color: inherit;
}

.header__title-link:hover,
.header__title-link:active {
  text-decoration: none;
}

.header__slogan {
  margin-top: 10px;
  font-size: 24px;
}

.header__tagline {
  font-size: 16px;
}

.text-highlight {
  color: #800000;
}

.header__left-panel {
  position: relative;
}

.header__help-trigger {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 40px;
  color: #b3b3b3;
  cursor: pointer;
}

.header__help-trigger:hover {
  color: #800000;
}

.header__help-panel {
  position: absolute;
  top: 100%;
  left: 65%;
  margin-top: 14px;
  width: 720px;
  background-color: #333333;
  border: 1px solid #000000;
  box-sizing: border-box;
  z-index: 50;
  padding: 0;
}

.header__help-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 18px;
  border-bottom: 8px solid #800000;
}

.header__help-title {
  margin: 0;
  color: #b3b3b3;
  font-size: 34px;
}

.header__help-close {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.header__help-close-icon {
  width: 40px;
  height: 40px;
  opacity: 0.75;
}

.header__help-close-icon:hover {
  opacity: 1;
}

.header__help-list {
  margin: 0;
  margin-top: 25px;
  padding: 18px 26px 22px 46px;
  color: #b3b3b3;
  font-size: 25px;
}

.header__help-list li {
  margin-bottom: 45px;
}

.header__help-list li:last-child {
  margin-bottom: 30px;
}

/* ---------- Media Queries ---------- */

@media screen and (max-width: 1024px) {
  .header {
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    grid-template-columns: 1fr;
    row-gap: 16px;
    column-gap: 0;
  }

  .header__center {
    max-width: 100%;
    justify-self: stretch;
  }

  .header__left-panel,
  .header__right-panel {
    width: 100%;
    min-height: auto;
    justify-content: center;
  }

  .header__title {
    font-size: 96px;
  }

  .header__slogan {
    font-size: 22px;
  }

  .header__tagline {
    font-size: 16px;
  }

  .header__help-panel {
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - 48px);
    max-width: 720px;
  }

  .header__help-list {
    padding-left: 42px;
    padding-right: 22px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header__title {
    font-size: 72px;
  }

  .header__left-panel {
    font-size: 40px;
  }

  .header__right-panel {
    font-size: 28px;
  }

  .header__help-title {
    font-size: 26px;
  }

  .header__help-list {
    font-size: 20px;
    padding-left: 38px;
  }

  .header__help-panel {
    width: calc(100vw - 32px);
  }
}

@media screen and (max-width: 420px) {
  .header {
    padding-left: 12px;
    padding-right: 12px;
  }

  .header__title {
    font-size: 58px;
  }

  .header__slogan {
    font-size: 18px;
  }

  .header__help-panel {
    width: calc(100vw - 24px);
  }

  .header__help-list {
    font-size: 18px;
    padding: 16px 18px 20px 34px;
  }

  .header__help-list li {
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__title {
    font-size: 52px;
  }

  .header__slogan {
    font-size: 16px;
  }

  .header__right-panel {
    font-size: 24px;
  }

  .header__help-panel {
    width: calc(100vw - 20px);
  }

  .header__help-title {
    font-size: 22px;
  }

  .header__help-list {
    font-size: 17px;
    padding: 14px 16px 18px 30px;
  }
}
