.main {
  width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  box-sizing: border-box;
}

.main__summary-bar {
  width: 100%;
  height: 40px;
  background-color: #333333;
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center;
  box-sizing: border-box;
}

.main__summary-text {
  margin: 0;
  text-align: center;
  font-size: 14px;
  color: #b3b3b3;
}

.main__summary-icon {
  width: 40px;
  height: 40px;
  border-left: 1px solid #000000;
}

.main__chart-panel {
  width: 100%;
  background-color: #333333;
  box-sizing: border-box;
  padding: 0 0 20px 0;
}

.main__summary-bar_type_open {
  margin-bottom: 20px;
}

.main__summary-icon_type_up {
  border-left: 1px solid #000000;
}

.main__chart-placeholder {
  width: 100%;
  height: 360px;
  background-color: #333333;
}

.main__insight-panel {
  width: 100%;
  background-color: #333333;
  padding: 16px;
  box-sizing: border-box;
}

.main__insight-text {
  margin: 0;
  color: #b3b3b3;
  font-size: 14px;
}
