.preloader {
  position: relative;
  min-height: 70px;
  margin-top: 12px;
  text-align: center;
}

.circle-preloader {
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  margin: auto;
  animation: spin .75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
