.debt-notes-modal {
  width: 100%;
  max-width: 600px;
  margin: 180px auto 0;
}

.debt-notes-modal .modal__body {
 border-top: 8px solid #574084;
}

.debt-notes__body {
  padding: 20px 0;
}

.debt-notes__text {
  margin: 0;
  color: #b3b3b3;
  font-size: 22px;
  overflow-wrap: anywhere;
}

.debt .modal__close-icon {
  opacity: .75;
}

.debt .modal__close-icon:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .debt-notes-modal {
    max-width: 520px;
  }

  .debt-notes__text {
    font-size: 20px;
  }

  .debt-notes-modal .modal__body {
    max-height: calc(100vh - 160px);
  }
}

@media screen and (max-width: 430px) {
  .debt-notes-modal {
    max-width: 100%;
  }

  .debt-notes__text {
    font-size: 18px;
  }

  .debt-notes-modal .modal__body {
    max-height: calc(100vh - 140px);
  }
}
