.footer {
  width: 100%;
  margin-top: 100px;
  justify-items: center;
  padding: 16px 24px;
  box-sizing: border-box;
  border-top: 1px solid #333333;
}

.footer__text {
  margin: 0;
  font-size: 14px;
  color: #b3b3b3;
}
