.footer {
  width: 100%;
  margin-top: 100px;
  justify-items: center;
  padding: 16px 24px;
  box-sizing: border-box;
  border-top: 1px solid #333333;
}

.footer__text {
  margin-top: 15px;
  font-size: 14px;
  color: #b3b3b3;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 24px 0;
  }

  .footer__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 20px 0;
  }

  .footer__text {
    font-size: 13px;
  }
}
