@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("fonts/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #b3b3b3;
  background-color: #141414;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li,
label,
a,
button,
.income__saved-entry,
.expenses__saved-group,
.savings__saved-entry,
.debt__saved-entry,
.lifestyle__saved-group,
.delete-modal__text,
.add-savings__note-max,
.add-debt__note-max
{
  text-shadow:
    2px 0 0 #000,
    -2px 0 0 #000,
    0 2px 0 #000,
    0 -2px 0 #000;
}

.text-no-outline {
  text-shadow: none;
}

.header,
.income-header,
.expenses-header,
.savings-header,
.debt-header,
.lifestyle-header,
.infohub-header,
.secondary-nav__list {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .app__container,
  .page,
  .content,
  .main,
  .income,
  .expenses,
  .savings,
  .debt,
  .lifestyle,
  .infohub {
    width: 100%;
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }

  h1 { font-size: 44px; }
  h2 { font-size: 30px; }

  .card,
  .panel {
    border-radius: 10px;
  }
}

@media screen and (max-width: 768px) {
  .app__container,
  .page,
  .content,
  .main,
  .income,
  .expenses,
  .savings,
  .debt,
  .lifestyle,
  .infohub {
    padding-left: 16px;
    padding-right: 16px;
  }

  .add-expense__grid,
  .add-income__grid,
  .profile__grid,
  .infohub-header,
  .page__grid,
  .layout__grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
  }

  img,
  video,
  canvas,
  svg {
    max-width: 100%;
    height: auto;
  }

  input,
  select,
  textarea,
  button {
    max-width: 100%;
  }

  h1 { font-size: 36px; }
  h2 { font-size: 26px; }
  h3 { font-size: 22px; }
  p,
  label,
  input,
  select,
  textarea {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .app__container,
  .page,
  .content,
  .main,
  .income,
  .expenses,
  .savings,
  .debt,
  .lifestyle,
  .infohub {
    padding-left: 12px;
    padding-right: 12px;
  }

  h1 { font-size: 32px; }
  h2 { font-size: 24px; }

  .modal,
  .modal__container,
  .expenses-modal {
    width: 100%;
    max-width: 100%;
  }
}
