:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #b3b3b3;
  background-color: #141414;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li,
label,
a,
button,
.expenses__saved-title,
.expenses__saved-monthly,
.delete-modal__text
{
  text-shadow:
    2px 0 0 #000,
    -2px 0 0 #000,
    0 2px 0 #000,
    0 -2px 0 #000;
}

.text-no-outline {
  text-shadow: none;
}
